<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    
    <ion-item>
      <ion-label text-wrap><p>Please insert your email to reset your password</p></ion-label> 
        
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="user.email" placeholder="Email"></ion-input>
    </ion-item>
    <div style="align-items: center;">
    <ion-button  (click)="sendResetMail()">Reset</ion-button>
    <ion-button color="warning" (click)="Cancel()">Cancel</ion-button>
  </div>
  </ion-card-content>

</ion-content>
