.ion-card-list {
    background-size: cover;
   // background-color: #8bf1b6;
    height: 50%;
}
.card-content-md {

    color: rgb(0, 0, 10);
    align-content: center;
}

.item-title{
    
    color: rgb(0, 8, 117);
    padding-left: 10%;
    align-content: center;
}