.ion-card-list {
    background-size: cover;
    background-color: #bdebf7;
}
.card-content-md {

    color: rgb(0, 0, 10);
}

.item-title{
    background-color: #bdebf7;
    color: rgb(0, 8, 117);
    font-family: Impact, Haettenschweiler, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
}