<ion-header [translucent]="true" color="black">
  <ion-toolbar class="page-header">
    <ion-buttons slot="start" menu="first">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title class="page-titles">
      <img src="./../../../assets/Images/back.png" style="width : 15% ; height : 15%" (click)="previouspage()" >
      Assigments
    </ion-title>
    <app-header slot="end"></app-header>
  </ion-toolbar>
</ion-header>
<!-- routerLink="/notifications" -->
<ion-content>
  <ion-card class="ion-card-list">
    <ion-title size="large" style="padding-bottom: 5%;padding-top: 5%; color: blue;">{{AssigmentTitle}}</ion-title>
    <div *ngFor="let item of assigmnetList ;let i=index" >   
      <!-- <ion-item> </ion-item>  -->
      <div (click)="expandItem(item)" >
        <ion-label style="padding-left: 5%;" class="item-title">Assignment: {{i+1}}</ion-label>
        <ion-card-content>        
          <app-assignment [expanded]="item.expanded"expandHeight="100%" [assignmentList]="item" >         
          </app-assignment></ion-card-content>
        </div>
   
    </div>

    
    <app-submit-assignmnet [assigmentSubmission]=subject ></app-submit-assignmnet>  
  </ion-card>

</ion-content>

